{% extends 'blog/base.html' %}

{% load static %}

{% block body %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">

                {% for post in page_obj %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{{ post.author.avatar.url }}" alt="">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2"
                                   href="{% url 'blog:user_posts' post.author.username %}">{{ post.author.first_name }} {{ post.auhtor.last_name }}</a>
                                <small class="text-muted">{{ post.published }}</small>
                            </div>
                            <h5><a class="article-title"
                                   href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h5>
                        </div>
                    </article>
                {% endfor %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center mb-5">
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="">&laquo;</a>
                            </li>
                        {% endif %}

                        {#                    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
                        <li class="page-item"><a class="page-link" href="">{{ page_obj.number }}</a></li>
                        {#                    <li class="page-item"><a class="page-link" href="#">3</a></li>#}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="">&raquo;</a>
                            </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        </li>

                    </ul>
                </nav>
            </div>
            {% include 'blog/sidebar.html' %}


        </div>
    </main>
{% endblock %}