{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content-section">
                    <form method="post" class="bootstrap4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}