{% extends 'blog/base.html' %}

{% block body %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
              {% if messages %}
                	{% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <h6>Django messages might be shown here</h6>
                        </div>
                	{% endfor %}
                {% endif %}
        
                    <div class="content-section">
                        <form method="post">
                            <fieldset class="form-group">
                                <h2>Edit Post</h2>
                                {% csrf_token %}
                                {{ form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'blog/sidebar.html' %}
              </div>
            </main>
        
{% endblock %}